/* script menghilangkan Horizontal Scroll */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: url("img/galeri/bg-galeri.jpg");
    background-size:150%;
    }

.jumbotron{
    padding-top: 12rem;
    min-height:550px;
    background-image: url("img/bg-jumbotron/bg1.jpg");
    background-size: cover;
    color: white;
    padding-left: 3rem;
} 

.jumbotron h1{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.media_mandiri{
    color:rgb(112, 112, 219);
}
.citra{
    color: rgb(218, 13, 13);
    
}
#tentang{
    min-height: 600px;
    padding-top:3rem;
        
}
#tentang hr{
    margin: auto;
    width: 250px;
}

#program_kursus{
    min-height: 600px;
    padding-top: 3rem;

}
#program_kursus hr{
    margin: auto;
    width: 250px;
}

#testimoni{
    min-height: 600px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(5px);
}
#testimoni hr{
    margin: auto;
    width: 250px;
}

/* style testimoni carousel */
#testimoni .testimoni-img{
    margin:0 1em 0 1em;
    border-radius:100%;
    width:150px;
}
#testimoni .carousel-item h4{
    font-size: 20px;
    line-height: 1.375em;
    width: auto;
    font-weight:300;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    vertical-align: middle;
    margin: 70px 0;
}
#testimoni .carousel-item span{
    font-weight: bold;
}

#testimoni .carousel-indicators button{
    background-color: rgb(21, 14, 14);
    border-radius: 100%;
    height: 12px;
    width: 15px; 
}
#testimoni .carousel-indicators .active{
    background-color: rgb(18, 70, 239);
}
/* akhir testimoni carousel */



#galeri{
    min-height: 1200px;
   
}
#galeri hr{
 margin: auto;
 width: 250px;
}

#kontak{
    min-height: 700px;  
    background-color: rgba(10, 10, 10, 0.82);
    color: white;
    backdrop-filter: blur(10px);
}

#kontak hr{
    border: 1px solid white;
}








   
